{% macro recipientAddressBlock(contact, suicideRiskId) %}
  <p>
    {{ contact.contactPerson }} ,
    {% if contact.contactLocation %}
      {% if contact.contactLocation.officeDescription %}{{ contact.contactLocation.officeDescription }}, {% endif %}
      {% if contact.contactLocation.buildingName %}{{ contact.contactLocation.buildingName }}, {% endif %}
      {% if contact.contactLocation.buildingNumber or contact.contactLocation.streetName %}
        {{ contact.contactLocation.buildingNumber }}, {{ contact.contactLocation.streetName }},
      {% endif %}
      {% if contact.contactLocation.district %}{{ contact.contactLocation.district }}, {% endif %}
      {% if contact.contactLocation.townCity %}{{ contact.contactLocation.townCity }}, {% endif %}
      {% if contact.contactLocation.county %}{{ contact.contactLocation.county }}, {% endif %}
      {% if contact.contactLocation.postcode %}{{ contact.contactLocation.postcode }} {% endif %}
    {% endif %}
    <br/>
    <a href="{{ '/recipient-details/' + suicideRiskId + '?recipientId=' + contact.id }}" class="govuk-link">
      Click this link to edit this record
    </a><br/>
    <a href="{{ '/delete-recipient/' + suicideRiskId + '/' + contact.id }}" class="govuk-link">
      Click this link to delete this record
    </a>
  </p>
{% endmacro %}



