services:
  hmpps-auth:
    image: ghcr.io/ministryofjustice/hmpps-auth:latest
    networks:
      - hmpps
    ports:
      - "9090:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - APPLICATION_AUTHENTICATION_UI_ALLOWLIST=0.0.0.0/0
  wiremock:
    image: wiremock/wiremock:latest
    volumes:
      - ./wiremock:/home/wiremock
    ports:
      - "9091:8080"
    networks:
      - hmpps
networks:
  hmpps:
