{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Information" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
  {% from "govuk/components/button/macro.njk" import govukButton %}
  {% from "govuk/components/details/macro.njk" import govukDetails %}

  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {% set errorList =[
      { text: errorMessages.genericErrorMessage.text, href: "#" } if errorMessages.genericErrorMessage else None,
      { text: errorMessages.additionalInfo.text, href: "#additionalInfo" } if errorMessages.additionalInfo else None
    ] | reject("undefined") %}

    {% if errorMessages | length > 0 %}
      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
      {{ govukErrorSummary({ titleText: "There is a problem", errorList: errorList }) }}
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        {% include "pages/side-nav.njk" %}
      </div>
      <div class="govuk-grid-column-two-thirds">
        {% include "partials/review-required.njk" %}

        <h1 id="page-title" class="govuk-heading-l">Suicide Risk - Information</h1>

        {{ govukCharacterCount({
          name: "additionalInfo",
          id: "additionalInfo",
          maxlength: 20000,
          value: suicideRisk.additionalInfo,
          hint: {
            text: "Additional Information"
          }
        }) }}

        {% if showRiskAndNeedsDetailsTwisty %}
          {% set detailsContent %}
            <h2 class="govuk-heading-m">Nature of Risk</h2>
            {% if riskAssessment.natureOfRisk %}
              <p id="nature-of-risk">{{ riskAssessment.natureOfRisk }}</p>
            {% else %}
              <p>No information available.</p>
            {% endif %}

            <h2 class="govuk-heading-m">Risk is greatest when</h2>
            {% if riskAssessment.riskImminence %}
              <p id="risk-imminence">{{ riskAssessment.riskImminence }}</p>
            {% else %}
              <p>No information available.</p>
            {% endif %}

            <h2 class="govuk-heading-m">Risk increases when</h2>
            {% if riskAssessment.riskIncreaseFactors %}
              <p id="risk-increase-factors">{{ riskAssessment.riskIncreaseFactors }}</p>
            {% else %}
              <p>No information available.</p>
            {% endif %}

            <h2 class="govuk-heading-m">Risk decreases when</h2>
            {% if riskAssessment.riskMitigationFactors %}
              <p id="risk-decrease-factors">{{ riskAssessment.riskMitigationFactors }}</p>
            {% else %}
              <p>No information available.</p>
            {% endif %}
          {% endset %}

          {{ govukDetails({
            summaryText: "View Information from Assess Risks and Needs",
            html: detailsContent,
            attributes: {
              id: "view-information-arn--govuk-details"
            }
          }) }}
        {% endif %}

        <h2 class="govuk-heading-m">Suicide/Self Harm Register</h2>

        {% if registration %}
          <h2 class="govuk-heading-m">Registration Start Date</h2>
          <p id="registration-start-date">{{ registration.startDate | dayMonthYear }}</p>

          <h2 class="govuk-heading-m">Registration End Date</h2>
          <p id="registration-end-date">{{ registration.endDate | dayMonthYear }}</p>

          <h2 class="govuk-heading-m">Registration Notes</h2>
          <p id="registration-notes">{{ registration.notes }}</p>
        {% else %}
          <p id="no-registrations">No registration details found of this type</p>
        {% endif %}

        {% if registrationDeeplink %}
          <p id="registration-deeplink-message">
            <a href="{{ registrationDeeplink }}" target="_blank" id="registrationDeeplink">
              click here to open full Registration details in a new tab
            </a>
          </p>
        {% endif %}

        <div class="moj-button-group">
          {{ govukButton({
            text: "Continue",
            preventDoubleClick: "true",
            type: "submit",
            attributes: {
              id: "continue-button"
            }
          }) }}

          {{ govukButton({
            text: "Save Progress and Close",
            type: "submit",
            name: "action",
            value: "saveProgressAndClose",
            classes: "govuk-button--secondary",
            attributes: {
              id: "close-button"
            }
          }) }}

          {{ govukButton({
            text: "Refresh from Delius",
            preventDoubleClick: "true",
            type: "submit",
            name: "action",
            value: "refreshFromNdelius",
            classes: "govuk-button--secondary",
            attributes: {
              id: "refresh-from-ndelius--button"
            }
          }) }}
        </div>

      </div>
    </div>
  </form>

{% endblock %}
