{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Recipient Details" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {% from "govuk/components/button/macro.njk" import govukButton %}
  {% from "govuk/components/input/macro.njk" import govukInput %}
  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  <form method="post">

    {% set errorList =[
      { text: errorMessages.name.text, href: "#name" } if errorMessages.name else None,
      { text: errorMessages.officeDescription.text, href: "#description" } if errorMessages.officeDescription else None,
      { text: errorMessages.buildingName.text, href: "#buildingName" } if errorMessages.buildingName else None,
      { text: errorMessages.buildingNumber.text, href: "#houseNumber" } if errorMessages.buildingNumber else None,
      { text: errorMessages.identifier.text, href: "#description" } if errorMessages.identifier else None,
      { text: errorMessages.district.text, href: "#district" } if errorMessages.district else None,
      { text: errorMessages.streetName.text, href: "#streetName" } if errorMessages.streetName else None,
      { text: errorMessages.townCity.text, href: "#townCity" } if errorMessages.townCity else None,
      { text: errorMessages.postcode.text, href: "#postcode" } if errorMessages.postcode else None,
      { text: errorMessages.county.text, href: "#county" } if errorMessages.county else None,
      { text: errorMessages.sendFormViaEmail.text, href: "#sendFormViaEmail" } if errorMessages.sendFormViaEmail else None,
      { text: errorMessages.sendFormManually.text, href: "#sendFormManually" } if errorMessages.sendFormManually else None,
      { text: errorMessages.email.text, href: "#email" } if errorMessages.email else None,
      { text: errorMessages.genericErrorMessage.text, href: "#" } if errorMessages.genericErrorMessage else None
    ] | reject("undefined") %}

    {% if errorMessages | length > 0 %}
      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
      {{ govukErrorSummary({ titleText: "There is a problem", errorList: errorList }) }}
    {% endif %}

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third"></div>

      <div class="govuk-grid-column-two-thirds">

        {% set typeMap = {
          "other_colleagues": "Other colleagues",
          "prison_establishment": "Prison Establishment",
          "police_custody_cells": "Police (Custody Cells)",
          "medical_services": "Medical Services",
          "other_agency": "Other Agency"
        } %}

        <h1 id="page-title" class="govuk-heading-l">
          {% if recipientId %}
            Recipient Details – {{ typeMap[recipient.contactTypeDescription] or recipient.contactTypeDescription }}
          {% else %}
            Recipient Details – {{ typeMap[contactTypeDescription] or contactTypeDescription }}
          {% endif %}
        </h1>

        {{ govukInput({
          label: {
            text: "Name",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "name",
          value: recipient.contactPerson,
          classes: "govuk-input--width-30",
          name: "name",
          errorMessage: {
            text: errorMessages.name.text
          } if errorMessages.name.text
        }) }}

        {{ govukInput({
          label: {
            text: "Office Description (if applicable)",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "description",
          value: recipient.contactLocation.officeDescription,
          classes: "govuk-input--width-30",
          name: "officeDescription",
          errorMessage: {
            text: errorMessages.officeDescription.text or errorMessages.identifier.text
          } if errorMessages.officeDescription or errorMessages.identifier
        }) }}

        {{ govukInput({
          label: {
            text: "Building Name (if applicable)",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "buildingName",
          value: recipient.contactLocation.buildingName,
          classes: "govuk-input--width-30",
          name: "buildingName",
          errorMessage: {
            text: errorMessages.buildingNumber.text or errorMessages.identifier.text
          } if errorMessages.buildingNumber or errorMessages.identifier
        }) }}

        {{ govukInput({
          label: {
            text: "Address Number (if applicable)",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "houseNumber",
          value: recipient.contactLocation.buildingNumber,
          classes: "govuk-input--width-30",
          name: "buildingNumber",
          errorMessage: {
            text: errorMessages.identifier.text
          } if errorMessages.identifier.text
        }) }}

        {{ govukInput({
          label: {
            text: "Street Name",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "streetName",
          value: recipient.contactLocation.streetName,
          classes: "govuk-input--width-30",
          name: "streetName",
          errorMessage: {
            text: errorMessages.streetName.text
          } if errorMessages.streetName.text
        }) }}

        {{ govukInput({
          label: {
            text: "District (if applicable)",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "district",
          value: recipient.contactLocation.district,
          classes: "govuk-input--width-30",
          name: "district",
          errorMessage: {
            text: errorMessages.district.text
          } if errorMessages.district
        }) }}

        {{ govukInput({
          label: {
            text: "Town or City",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "townCity",
          value: recipient.contactLocation.townCity,
          classes: "govuk-input--width-20",
          name: "townCity",
          errorMessage: {
            text: errorMessages.townCity.text
          } if errorMessages.townCity.text
        }) }}

        {{ govukInput({
          label: {
            text: "County (if applicable)",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "county",
          value: recipient.contactLocation.county,
          classes: "govuk-input--width-20",
          name: "county",
          errorMessage: {
            text: errorMessages.county.text
          } if errorMessages.county.text
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "postcode",
          value: recipient.contactLocation.postcode,
          classes: "govuk-input--width-10",
          name: "postcode",
          errorMessage: {
            text: errorMessages.postcode.text
          } if errorMessages.postcode.text
        }) }}

        {{ govukInput({
          label: {
            text: "Email",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "email",
          value: recipient.emailAddress,
          classes: "govuk-input--width-30",
          name: "emailAddress",
          errorMessage: {
            text: errorMessages.email.text
          } if errorMessages.email
        }) }}

        {{ govukRadios({
          name: "sendFormViaEmail",
          fieldset: {
            legend: {
              text: "Will you be sending this form by email?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          errorMessage: {
            text: errorMessages.sendFormViaEmail.text
          } if errorMessages.sendFormViaEmail,
          items: [
            {
              value: "true",
              text: "Yes",
              checked: recipient.sendFormViaEmail === true
            },
            {
              value: "false",
              text: "No",
              checked: recipient.sendFormViaEmail === false
            }
          ]
        }) }}

        {{ govukRadios({
          name: "sendFormManually",
          fieldset: {
            legend: {
              text: "Will you be sending this form manually?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          errorMessage: {
            text: errorMessages.sendFormManually.text
          } if errorMessages.sendFormManually,
          items: [
            {
              value: "true",
              text: "Yes",
              checked: recipient.sendFormManually === true
            },
            {
              value: "false",
              text: "No",
              checked: recipient.sendFormManually === false
            }
          ]
        }) }}

        <div class="moj-button-group">

          {{ govukButton({
            text: "Save",
            type: "submit",
            name: "action",
            value: "confirm",
            attributes: {
              id: "confirm-button"
            }
          }) }}
          {{ govukButton({
            text: "Cancel without saving",
            type: "submit",
            name: "action",
            value: "cancel",
            classes: "govuk-button--secondary",
            attributes: {
              id: "cancel-button"
            }
          }) }}
        </div>
      </div>
    </div>

  </form>

{% endblock %}
