{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
  {% from "govuk/components/button/macro.njk" import govukButton %}
  {% from "govuk/components/select/macro.njk" import govukSelect %}
  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  <form method="post">

    {% set errorList =[
      { text: errorMessages.replyAddress.text, href: "#work-address" } if errorMessages.workAddress else None,
      { text: errorMessages.genericErrorMessage.text, href: "#" } if errorMessages.genericErrorMessage else None
    ] | reject("undefined") %}

    {% if errorMessages | length > 0 %}
      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
      {{ govukErrorSummary({ titleText: "There is a problem", errorList: errorList }) }}
    {% endif %}

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        {% include "pages/side-nav.njk" %}
      </div>
      <div class="govuk-grid-column-two-thirds">

        {% set alternateAddressHtml %}
          {{ govukSelect({
            id: "alternate-address",
            name: "alternateAddress",
            label: {
              text: "Please pick an alternative work location",
              classes: "govuk-fieldset__legend--m"
            },
            items: alternateAddressOptions
          }) }}
        {% endset -%}

        {% if not showEmbeddedError %}
          {% include "partials/review-required.njk" %}

        <h1 class="govuk-heading-l">Suicide Risk - Sign and Send</h1>

          <h2 class="govuk-heading-m">Officer Name</h2>
        <p id="name">{{ userDetails.name.forename }} <span> </span> {% if userDetails.name.middleName != null %} {{ userDetails.name.middleName }} <span> </span> {% endif %} {{ userDetails.name.surname }}</p>

          <h2 class="govuk-heading-m">Signature</h2>

          {% if suicideRisk.signature == null %}
            {{ govukButton({
              text: "Click here to sign now",
              type: "submit",
              name: "action",
              value: "sign",
              classes: "govuk-button--secondary",
              attributes: {
                id: "sign-button"
              }
            }) }}

            {{ govukWarningText({
              text: "This information is regarded as official and to be used by colleagues and relevant agencies for the purpose of identifying those at risk to commit suicide, thus enabling appropriate humane intervention.",
              iconFallbackText: "Warning"
            }) }}
          {% else %}
            <p id="signature">{{ suicideRisk.signature }}</p>
            {{ govukButton({
              text: "Clear signature",
              type: "submit",
              name: "action",
              value: "clear-signature",
              classes: "govuk-button--secondary",
              attributes: {
                id: "clear-signature-button"
              }
            }) }}
          {% endif %}

          <h2 class="govuk-heading-m">Work Location and Address</h2>
          {% if suicideRisk.workAddress != null %}
            <p id="workAddress">
              {% if suicideRisk.workAddress.officeDescription %} {{ suicideRisk.workAddress.officeDescription }}
                <br />{% endif %}
              {% if suicideRisk.workAddress.buildingName %} {{ suicideRisk.workAddress.buildingName }}
                <br />{% endif %}
              {% if suicideRisk.workAddress.buildingName or suicideRisk.workAddress.streetName %} {{ suicideRisk.workAddress.buildingNumber }} {{ suicideRisk.workAddress.streetName }}
                <br />{% endif %}
              {% if suicideRisk.workAddress.district %} {{ suicideRisk.workAddress.district }}
                <br />{% endif %}
              {% if suicideRisk.workAddress.townCity %} {{ suicideRisk.workAddress.townCity }}
                <br />{% endif %}
              {% if suicideRisk.workAddress.county %} {{ suicideRisk.workAddress.county }}
                <br />{% endif %}
              {% if suicideRisk.workAddress.postcode %} {{ suicideRisk.workAddress.postcode }}
                <br />{% endif %}
            </p>

            {% if suicideRisk.workAddress != null and suicideRisk.workAddress.addressId == null and (userDetails.addresses == null or userDetails.addresses.length == 0) %}
              {{ govukButton({
                text: "Update Address",
                href: '/update-work-address/'+suicideRiskId,
                classes: "govuk-button--secondary",
                preventDoubleClick: "true",
                attributes: {
                  id: "update-address-button"
                }
              }) }}
            {% endif %}
          {% elseif addressNotAvailable %}
            <p id="workAddress">The previously selected address is no longer available. Please select an alternative.</p>
          {% else %}
            <p id="no-address"> </p>
          {% endif %}

          {% if manualAddressAllowed and suicideRisk.workAddress == null %}

            {{ govukButton({
              text: "Add Address",
              href: '/update-work-address/'+suicideRiskId,
              classes: "govuk-button--secondary",
              preventDoubleClick: "true",
              attributes: {
                id: "add-address-button"
              }
            }) }}

          {% elseif not addressNotAvailable and userDetails.addresses != null and userDetails.addresses.length > 0 %}

          {{ govukRadios({
            name: "offenderAddressSelectOne",
            fieldset: {
              legend: {
                text: "Would you like to use the work location above for this suicide risk form?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "Select one option"
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: suicideRisk.workAddress != null
              },
              {
                value: "No",
                text: "No, I would like to use a different work location ",
                checked: suicideRisk.workAddress == null,
                conditional: {
                html: alternateAddressHtml
              }
              }
            ]
          }) }}

          {% elseif userDetails.addresses != null and userDetails.addresses.length > 0 %}

            {{ alternateAddressHtml | safe }}

          {% endif %}

          <h2 class="govuk-heading-m">Telephone Number</h2>
          <p id="telephoneNumber">{{ suicideRisk.telephoneNumber }}</p>

        <div class="moj-button-group">
          {{ govukButton({
            text: "Continue",
            preventDoubleClick: "true",
            type: "submit",
            attributes: {
              id: "continue-button"
            }
          }) }}
          {{ govukButton({
            text: "Save Progress and Close",
            type: "submit",
            name: "action",
            value: "saveProgressAndClose",
            classes: "govuk-button--secondary",
            attributes: {
              id: "close-button"
            }
          }) }}

          {{ govukButton({
            text: "Refresh from Delius",
            preventDoubleClick: "true",
            type: "submit",
            name: "action",
            value: "refreshFromNdelius",
            classes: "govuk-button--secondary",
            attributes: {
              id: "refresh-from-ndelius--button"
            }
          }) }}
        </div>

        {% endif %}

      </div>
    </div>
  </form>

{% endblock %}
