{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
  {% from "govuk/components/button/macro.njk" import govukButton %}
  {% from "govuk/components/details/macro.njk" import govukDetails %}


  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {% set errorList =[
      { text: errorMessages.genericErrorMessage.text, href: "#" } if errorMessages.genericErrorMessage else None,
      { text: errorMessages.psychTreatment.text, href: "#current-psych-treatment" } if errorMessages.psychTreatment else None
    ] | reject("undefined") %}

    {% if errorMessages | length > 0 %}
      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
      {{ govukErrorSummary({ titleText: "There is a problem", errorList: errorList }) }}
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        {% include "pages/side-nav.njk" %}
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Suicide Risk - Treatment</h1>

        {{ govukCharacterCount({
          name: "currentPsychTreatment",
          id: "current-psych-treatment",
          maxlength: 20000,
          value: suicideRisk.currentPsychTreatment,
          hint: {
            text: "Any Current Psychiatric Treatment"
          }
        }) }}

        {{ govukButton({
          text: "Search Contacts",
          preventDoubleClick: "true",
          type: "submit",
          name: "action",
          value: "searchContacts",
          attributes: {
            id: "search-contacts--button"
          }
        }) }}

        {% if not searchResults %}
          <p id="search-contacts-text">
            To search for Contacts relating to "Psychiatric Treatment" press here
          </p>
        {% else %}
          <h2 id="treatment-heading" class="govuk-heading-m">Contacts relating to Treatment</h2>
          <h2 id="contacts-found" class="govuk-heading-m">{{ searchResults.results.length }} Contacts found</h2>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          {% if searchResults.results.length == 0 %}
            <p id="no-contacts-found" class="govuk-body">
              No contacts relating to Psychiatric Treatment have been found.
            </p>

          {% else %}
            {% if contactsWithDocs %}
              {% for entry in contactsWithDocs %}
                {% set result = entry.contact %}
                {% set documents = entry.documents %}

                <div class="govuk-grid-row govuk-!-margin-bottom-3">
                  <div class="govuk-grid-column-full">

                    <p id="contact-notes-details-{{ loop.index }}" class="govuk-body">
                      <strong>Date:</strong> {{ result.date | dayMonthYear }}<br>
                      <strong>Description:</strong> {{ result.description }}<br>
                      <strong>Type:</strong> {{ result.typeDescription }}<br>
                      <strong>Outcome:</strong> {{ result.outcomeDescription }}<br>
                    </p>

                    {{ govukDetails({
                      summaryText: "View Contact notes",
                      text: result.notes or "No notes found for this contact",
                      attributes: {
                        id: "view-contact-notes--govuk-details-" ~ loop.index
                      }
                    }) }}

                    {% if documents.length > 0 %}

                      {% set docHtml %}
                        {% for doc in documents %}
                          <p class="govuk-body">
                            <strong>Document name:</strong> {{ doc.name | escape }}<br>
                            <strong>Last updated:</strong> {{ doc.lastUpdated | escape }}
                          </p>
                        {% endfor %}
                      {% endset %}

                      {{ govukDetails({
                        summaryText: "Show associated documents",
                        html: docHtml,
                        attributes: {
                          id: "show-documents-found--govuk-details-" ~ loop.index
                        }
                      }) }}

                    {% else %}
                      {{ govukDetails({
                        summaryText: "Show associated documents",
                        text: "No documents found for this contact",
                        attributes: {
                          id: "show-documents-not-found--govuk-details-" ~ loop.index
                        }
                      }) }}
                    {% endif %}
                    <p>
                      <a href="{{ contactDeeplink }}{{ result.id }}" id="contact--deeplink-{{ loop.index }}"
                         target="_blank" class="govuk-link">
                        select this hyperlink to open the ndelius contact page in a new tab
                      </a>
                    </p>
                  </div>
                </div>

                {% if not loop.last %}
                  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endif %}

        <div class="moj-button-group">
          {{ govukButton({
            text: "Continue",
            preventDoubleClick: "true",
            type: "submit",
            attributes: {
              id: "continue-button"
            }
          }) }}
          {{ govukButton({
            text: "Save Progress and Close",
            type: "submit",
            name: "action",
            value: "saveProgressAndClose",
            classes: "govuk-button--secondary",
            attributes: {
              id: "close-button"
            }
          }) }}
        </div>
      </div>
    </div>
  </form>

{% endblock %}
